* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  color: $body-default-color;
  font-family: $body-default-font-family;
  font-size: $base-font-size;
}

h1 {
  font-weight: 300;
  margin-bottom: $space;
}

h2 {
  font-size: $large-font-size;
  margin-bottom: $space;
}

p {
  margin-bottom: $space;
}

a {
  color: $body-default-color;
}

input[type=text], input[type=email], input[type=password], textarea {
  border: 1px solid $input-border;
  color: $body-default-color;
  font-size: $base-font-size;
  font-family: $body-default-font-family;
  margin-bottom: $space;
  padding: $input-spacing;
}

// div#overlay {
//   background: rgba(0, 0, 0, 0.4);
//   opacity: 0;
//   transition: visibility 0s, opacity 0.5s linear;
//   visibility: hidden;
//   height: 100vh;
//   width: 100vw;
//   z-index: 1;
//
//   position: fixed;
//   top: 0;
//   left: 0;
//   bottom: 0;
// }
//
// .is-menu-open div#overlay {
//   opacity: 1;
//   visibility: visible;
// }
