/// COLORS /////////////////////////////////////////////////////////////////////

$edge-gold: #e5c100;
$edge-red: #980000;
$edge-gray: #282828;

$light-gray: #f9f9f9;
$gray: #dddddd;
$medium-gray: #efefef;
$medium-dark-gray: #5a5a5a;
$dark-gray: #909090;
$dark-green: #2e8b57;
$dark-red: #e64942;

// FONT SIZES //////////////////////////////////////////////////////////////////

$base-font-size: 1.4rem;
$large-font-size: 2.2rem;
$title-font-size: 3rem;
$navigation-font-size: 1.8rem;

$modal-title-font-size: 2.4rem;
$modal-text-font-size: 1.6rem;

/// BORDERS ////////////////////////////////////////////////////////////////////

$input-border-color: $gray;

$item-border-width: 4px;
$container-top-border: 5rem;

/// BUTTONS ////////////////////////////////////////////////////////////////////

$button-bg-color: $edge-gold;
$button-color: white;

/// SPACING ////////////////////////////////////////////////////////////////////

$tiny-space: 0.35rem;
$small-space: 0.7rem;
$default-space: 1.4rem;
$medium-space: 2.1rem;
$large-space: 2.8rem;
$input-space: 1rem;

/// BOXED VIEW ///////////////////////////////////////////////////////////////// TODO - rename to MODAL VIEW ?

$boxed-view-bg: white;

/// HEADER & FOOTER ////////////////////////////////////////////////////////////

$header-bg: $edge-gray;
$header-color: white;
$header-height: 6rem;

$footer-bg: $edge-gray;
$footer-color: white;
$footer-height: 6rem;

/// COMPONENT WIDTHS & HEIGHTS /////////////////////////////////////////////////

$box-width: 24rem;
$modal-height: 30rem;
$modal-width: 45rem;

$site-max-width: 136.6rem; // 1366px
$site-min-width: 76.8rem; // 768px

$sidebar-width: 25vw;
$sidebar-min-width: 35rem;
$slide-out-menu-width: 35rem;

$page-content-height: calc(100vh - #{$header-height} - #{$footer-height});
$page-content-width: calc(#{$site-max-width} - #{$sidebar-width});
$page-content-min-width: calc(#{$site-min-width} - #{$sidebar-min-width} - #{$large-space} - #{$large-space});
