/*
 * Boxed view container.
 *    - Login view
 */

.boxed-view {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/*
 * Box within a boxed view container.
 *    - Login box
 */

.boxed-view__box {
  background-color: $boxed-view-bg;
  border: 1px solid $boxed-view-border-color;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
}

/*
 * Form within a boxed view box.
 *    - Login form
 */

.boxed-view__form {
  display: flex;
  flex-direction: column;
}
