.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.4;
  margin-bottom: $space;
  outline: none;
  padding: $input-spacing;
}

.button--add {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.4;
  margin-bottom: $space;
  outline: none;
  padding: $input-spacing;
  text-transform: uppercase;
}

.button--editor {
  background-color: $gray;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
  font-size: $base-font-size;
  font-weight: 600;
  margin: 0;
  padding: $input-spacing;
}

.button--publish {
  background-color: $dark-green;
}

.button--unpublish {
  background-color: $dark-gray;
}

.button--cancel {
  background-color: $medium-gray;
}

.button--delete {
  background-color: $dark-red;
}

.button--add:hover {
  background-color: darken($button-bg, 5);
}

.button--publish:hover {
  background-color: darken($dark-green, 5);
}

.button--unpublish:hover {
  background-color: darken($dark-gray, 5);
}

.button--cancel:hover {
  background-color: darken($medium-gray, 5);
}

.button--delete:hover {
  background-color: darken($dark-red, 5);
}

.button--link {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}

.action-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: $large-space;
}

.action-group button {
  border-radius: 0.7rem;
  font-weight: bold;
  margin-bottom: $large-space;
  outline: none;
  width: 25%;
}
