/*
 * General button styles across the application.
 */

.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.4;
  margin-bottom: $space;
  outline: none;
  padding: $input-spacing;
}

/*
 * Add button.
 *    - Add Tournament button
 *    - Add Wrestler button
 *    - Add Roster button
 */

.button--add {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.4;
  margin-bottom: $space;
  outline: none;
  padding: $input-spacing;
  text-transform: uppercase;
}

/*
 * Link button within slide-out menu (desktop only).
 */

.button--link {
  background: none;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-transform: none;
}

/*
 * Editor button.
 *    - Publish button
 *    - Unpublish button
 *    - Delete button
 *    - Cancel button
 */

.button--editor {
  background-color: $gray;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  color: #ffffff;
  cursor: pointer;
  font-size: $base-font-size;
  font-weight: bold;
  margin: 0;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
  width: 25%;
}

/*
 * Button group for editor panel.
 *    - Publish/Unpublish + Delete buttons
 */

.action-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: $large-space + $space;
}

/*
 * Center content when there's only a single button in the action group.
 */

.action-group.single-item {
  justify-content: space-around;
}

/*
 * Background color changes for Publish, Unpublish, Cancel, and Delete buttons.
 */

.button--publish, .button--save { background-color: $dark-green; }
.button--unpublish { background-color: $medium-dark-gray; }
.button--cancel { background-color: $medium-gray; }
.button--delete { background-color: $dark-red; }

/*
 * Hover effects for Add, Publish, Unpublish, Cancel, and Delete buttons.
 */

.button--add:hover { background-color: darken($button-bg, 5); }
.button--publish:hover, .button--save:hover { background-color: darken($dark-green, 5); }
.button--unpublish:hover { background-color: darken($medium-dark-gray, 5); }
.button--cancel:hover { background-color: darken($medium-gray, 5); }
.button--delete:hover { background-color: darken($dark-red, 5); }

.modal-button {
  font-size: $base-font-size !important;
  margin-bottom: $space !important;
  margin-top: $space !important;
  padding: $space !important;
}
