/*
 * Checkbox label component.
 *    - List filters
 */

.checkbox {
  cursor: pointer;
  display: block;
  margin-bottom: $default-space;
}

/*
 * Checkbox input box.
 *    - List filters
 */

.checkbox__box {
  cursor: pointer;
  margin-right: $small-space;
}

/*
 * Checkbox group (containing two or more checkboxes).
 *    - List filters
 */

.checkbox__filter-group {
  align-items: center;
  border-bottom: 1px solid $gray;
  display: flex;
  justify-content: space-around;
}
