.container {
  background: $light-gray;
  border: 2px solid $edge-red;
  border-top: $container-top-border solid $edge-red;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: calc(#{$page-content-height} - #{$medium-space} - #{$medium-space});
  margin-top: $header-height + $medium-space;
  margin-bottom: $medium-space;
  padding: $default-space;
  padding-bottom: 0;
  padding-top: $default-space;
  width: 100%;

  @include mobile {
    height: auto;
    margin-bottom: $small-space;
    margin-top: $small-space;
  }
}

.container__content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: $default-space;
  padding-bottom: 0;

  -webkit-overflow-scrolling: touch;    // TODO - are there any other mobile-specific styles?

  @include mobile {
    height: auto;
    overflow-y: visible;
  }
}

.container__content hr {
  border: 1px solid $edge-red;
}

.container__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -$small-space;
}

.container__header img {
  display: none;

  @include mobile {
    cursor: pointer;
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
  }
}

.container__roster-icon {
  display: none;

  @include mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
    margin-top: -($large-space + $container-top-border - 1.6rem);
  }
}

.container__roster-icon:hover {
  @include mobile {
    cursor: pointer;
  }
}

.container__roster-icon img {
  display: none;

  @include mobile {
    display: flex;
    height: 2.5rem;
    margin-bottom: 0.75rem;
    width: 2.5rem;
  }
}

.container__roster-icon span {
  display: none;

  @include mobile {
    color: white;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    margin-top: -0.75rem;
  }
}

.container__header button {
  display: none;

  @include mobile {
    background-color: $edge-gold;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: $base-font-size;
    font-weight: bold;
    line-height: 1;
    margin-right: $tiny-space;
    outline: none;
    padding: $input-space;
    text-transform: uppercase;
  }
}

.container__header button:hover {
  background-color: darken($edge-gold, 5);
  cursor: pointer;
}

.container__title {
  color: $light-gray;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 5rem;
  margin-top: -($large-space + $container-top-border - 1.6rem);
}

.container__button-link {
  text-decoration: none;
}

.container__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 2.1;
  padding-top: $small-space;
}

.container__link {
  border-bottom: 1px solid $edge-red;
  text-decoration: none;
}

.container__link:hover {
  border-bottom: none;
  color: $edge-red;
}

.container__content ol {
  padding: $default-space;
  padding-bottom: 0;
  padding-left: $large-space;
}

.container__content ol li {
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
}

/// SCHEDULE CONTAINER /////////////////////////////////////////////////////////

// TODO - add minimum widths to schedule, application containers

.container__schedule {
  padding: 0;
  padding-top: $default-space;
}

.container__schedule h5 {
  padding-left: $default-space;
}

.container__schedule .container__content {
  padding: 0;
}

.container__application {
  @include mobile {
    height: auto;
    margin-top: 0;
  }
}

.container__application-form {
  height: 100%;
  padding-top: $small-space;

  @include mobile {
    height: auto;
  }
}

.container__application-form label {
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  font-weight: bold;
  outline: none;
  text-align: left;
}

.container__application-form label.bordered {
  border-top: 2px solid $edge-red;
  margin-top: $default-space;
  padding-top: $small-space;
}

.container__application-form label p {
  margin-bottom: 1rem;
  padding-top: $default-space;
}

.container__application-form label p span {
  font-style: italic;
  font-weight: normal;
}

.container__application-form label input {
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  font-weight: 300;
  margin: 0;
  outline: none;
  padding: $input-space;
  resize: none;
  width: 100%;
}

.container__application-form label select {
  background: white;
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  height: 3rem;
  margin-bottom: $small-space;
  margin-top: $tiny-space;
  outline: none;
  width: 100%;
}

.container__application-form label select.multi {
  height: auto;
}

.container__application-form label select.multi option {
  padding: 0.25rem;
}

.container__application-form label div.dynamic-field {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: $small-space;
}

.container__application-form label div.dynamic-field img {
  cursor: pointer;
  height: 2.5rem;
  margin-left: 1rem;
  width: 2.5rem;
}

.container__application-form label p.dynamic-label {
  align-items: center;
  display: flex;
}

.container__application-form fieldset {
  border-radius: 4px;
  margin-top: $default-space;
  padding: $default-space;
  padding-top: 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.container__application-form fieldset legend {
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.container__application-form .submit-button {
  background-color: $edge-gold;
  border: 1px solid $edge-red;
  border-radius: 4px;
  color: black;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: $default-space;
  margin-top: $medium-space;
  min-height: 4rem !important;
  outline: none;
  padding: $input-space;
  text-transform: uppercase;
}

.container__application-form .submit-button:hover {
  background-color: darken($edge-gold, 5);
  cursor: pointer;
}

/// TEAM RULES CONTAINER ///////////////////////////////////////////////////////

.container__content ol.team-rules li {
  padding: $default-space / 3;
  padding-left: $default-space;
}

.container__content ol.team-rules li:first-child {
  padding-top: $default-space;
}

.container__content ol.team-rules li:last-child {
  padding-bottom: 0;
}

.container__content ol.team-rules li ul {
  margin-left: $medium-space * 2;
}

.container__content ol.team-rules li ul li {
  padding-bottom: 0 !important;
  padding-left: $default-space / 3;
  padding-top: 0 !important;
}

.container__content ol.team-rules li ul li:first-child {
  padding-top: $default-space / 1.5;
}

.container__content ol.team-rules li ul li:last-child {
  padding-bottom: 0;
  padding-top: $tiny-space;
}

.container__content ol.team-rules li:last-child ul li:last-child {
  padding-bottom: $default-space !important;
}

/// FAQ CONTAINER //////////////////////////////////////////////////////////////

.container__content ol.faq li {
  padding-left: $default-space;
}

.container__content ol.faq li:first-child {
  padding-top: $default-space;
}

.container__content ol.faq li:last-child {
  padding-bottom: $default-space;
}

.container__content ol.faq li p:first-child {
  font-weight: bold;
}

/// PAST EVENTS CONTAINER //////////////////////////////////////////////////////

.container__past-events .container__content div {
  @include mobile {
    height: 100vh;
  }
}

/// CONTACT CONTAINER //////////////////////////////////////////////////////////

.container__contact-form {
  height: 100%;
}

.container__contact-form label {
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  font-weight: bold;
  outline: none;
  text-align: left;
}

.container__contact-form label p {
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  margin-bottom: 1rem;
  padding-top: $default-space;
}

.container__contact-form label input {
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  font-weight: 300;
  margin: 0;
  outline: none;
  padding: $input-space;
  resize: none;
  width: 100%;
}

.container__contact-form textarea {
  flex-grow: 1;
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  font-weight: 300;
  height: 100%;
  margin: 0;
  min-height: 20rem;
  outline: none;
  padding: $input-space;
  resize: none;
  width: 100%;

  -webkit-overflow-scrolling: touch;

  @include mobile {
    height: 100%;
  }
}

.container__contact-form button {
  background-color: $edge-gold;
  border: 1px solid $edge-red;
  border-radius: 4px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: $default-space;
  margin-top: $large-space;
  min-height: 4rem !important;
  outline: none;
  padding: $input-space;
  text-transform: uppercase;
}

.container__contact-form button:hover {
  background-color: darken($edge-gold, 5);
  cursor: pointer;
}

/// ADMIN TOURNAMENT, WRESTLER, AND TEAM LIST CONTAINERS ///////////////////////

.container__item-list {
  padding-left: 0;
  padding-right: 0;
}

.container__item-list-header {
  padding-left: $default-space;
}
