.contact__contact-form {
  background: $light-gray;
  border: 2px solid $brand-secondary;
  border-top: 5rem solid $brand-secondary;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: $space;
  margin-top: $space * 2;
  margin-bottom: $space * 1.5;
  padding: $space;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact__contact-form-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;    // TODO - are there any other mobile-specific styles?
}

.contact__contact-form-title {
  color: $light-gray;
  font-size: 1.8rem;
  line-height: 5rem;
  margin-top: -($space * 2 + 5rem - 1.6rem);
}
