.editor {
  background-color: white;
  border: 1px solid $grey;
  display: flex;
  flex-direction: column;
  padding: $large-space;
  width: 100%;
}

.editor__title {
  border: none;
  border-bottom: 2px solid $grey;
  font-size: $large-font-size;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
}

.editor__label {
  font-weight: bold;
  margin-bottom: $space * -1;
  outline: none;
  text-align: left;
}

.editor__field {
  font-weight: 300;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
  resize: none;
}

.editor__message {
  font-style: italic;
  margin: $large-space * 2;
  text-align: center;
}

.editor__published-message {
  color: green;
  font-size: $base-font-size;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.input-group, .label-group {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.label-group {
  flex-grow: 0;
}

.input-group-member, .label-group-member {
  width: 100%;
}

.left {
  margin-right: $space;
}

.right {
  margin-left: $space;
}
