.editor {
  background-color: white;
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: $large-space;
  width: 100%;

  -webkit-overflow-scrolling: touch;
}

.editor__title {
  border: none;
  border-bottom: 2px solid $gray;
  font-size: $large-font-size;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
}

.editor__label {
  flex-grow: 1;
  font-weight: bold;
  outline: none;
  text-align: left;
}

.editor__label p {
  margin-bottom: 1rem;
}

.editor__field {
  font-weight: 300;
  margin-bottom: $large-space;
  outline: none;
  padding: $input-spacing;
  resize: none;
  width: 100%;
}

.editor__message {
  font-style: italic;
  margin: $large-space * 2;
  text-align: center;
}

.editor__published-message {
  color: green;
  font-size: $base-font-size * 1.5;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}
