.event {
  background: $light-gray;
  border: 1px solid $edge-red;
  border-radius: 0.7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.2);
  color: black;
  margin: $default-space;
  margin-bottom: $small-space;
  padding: $default-space;
}

.event__bottom {
  margin-bottom: $default-space;
}

.event__header {
  align-items: center;
  border-bottom: 2px solid $edge-red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.event__roster-icon {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.75rem;

  // @include mobile {
  //   display: none;
  // }
}

.event__roster-icon-mobile {
  @include mobile {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.75rem;
  }
}

.event__roster-icon:hover {
  cursor: pointer;

  // @include mobile {
  //   display: none;
  // }
}

.event__roster-icon-mobile:hover {
  @include mobile {
    cursor: pointer;
  }
}

.event__roster-icon img {
  height: 2.5rem;
  margin-bottom: 1rem;
  width: 2.5rem;

  // @include mobile {
  //   display: none;
  // }
}

.event__roster-icon-mobile img {
  @include mobile {
    height: 2.5rem;
    margin-bottom: 1rem;
    width: 2.5rem;
  }
}

.event__roster-icon span, .event__roster-icon-mobile span {
  color: $edge-red;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: -0.75rem;
}

.event__title {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  padding-bottom: $small-space;
  padding-left: 0 !important;
}

.event__detail-header {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  padding-bottom: $tiny-space;
  padding-top: $default-space;
}

.event__detail {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 0;
  padding-top: 0.25rem;
}

.event__detail span {
  font-style: italic;
  font-weight: bold;
}

.event__detail-list-header {
  padding-left: 2rem;
}

.event__detail-list-item {
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}

.event__roster-table {
  // display: none;
  //
  // @include mobile {
  //   animation-direction: reverse;
  //   display: block;
  //   height: 0;
  //   transition: height 0s linear, visibility 0s linear;
  //   visibility: hidden;
  //   width: 100%;
  // }
}

.is-roster-open .event__roster-table {
  // @include mobile {
  //   height: auto;
  //   visibility: visible;
  // }
}
