.footer {
  background: $footer-bg;
  color: $footer-color;
}

.footer__content {
  align-items: center;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  height: $footer-height;
  justify-content: space-between;
  margin: 0 auto;
  padding: $large-space;
  max-width: $site-max-width;
}

.footer__link {
  color: $footer-color;
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
}

.footer__link:hover {
  text-decoration: none;
}

.footer__social-media-icons {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer img {
  height: 2.5rem;
  margin-left: 2rem;
  width: 2.5rem;

  @include mobile {
    margin-left: 1rem;
  }
}
