.footer {
  background: $footer-bg;
  color: $footer-color;
}

.footer__content {
  align-items: center;
  display: flex;
  height: $footer-height;
  justify-content: space-between;
  margin: 0 auto;
  padding: $large-space;
  width: $site-max-width;
}

.footer__link {
  color: $footer-color;
}

.footer__link:hover {
  text-decoration: none;
}
