.header {
  background: $header-bg;
  color: $header-color;
}

.header__content {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  margin: 0;
}

.header__nav-toggle {
  display: none;

  // @include mobile {
  //   cursor: pointer;
  //   display: flex;
  //   height: 2rem;
  //   width: 2rem;
  // }
}
