/*
 * Application container, including sidebar and main content panels. This is specific to the public sections of the application.
 */

.public-page-content,
.private-page-content {
	display: flex;
	height: $page-content-height;
	margin: 0 auto;
	max-width: $site-max-width;
	padding-left: $default-space;
	padding-right: $default-space;
	transition: margin-right 0.5s;

	@include mobile {
		flex-direction: column;
		height: auto;
		padding-bottom: $footer-height;
		padding-left: $small-space;
		padding-right: $small-space;
	}
}

/*
 * Sidebar panel for admin sections. These will include tournament, wrestler, team, and message lists.
 */

.private-page-content__sidebar {
	// display: flex;
	// padding-right: $large-space;
	// position: static;
	// min-width: $sidebar-min-width;
	// width: $sidebar-width;
	//
	// @include mobile {
	//   display: flex;
	//   transition: left 0.7s ease;
	//   width: 100vw;
	//
	//   position: fixed;
	//   top: $header-height;
	//   left: -100vw;
	//   bottom: 0;
	//   z-index: 1;
	// }
	display: flex;
	margin-right: $small-space;
	width: 35%;

	@include mobile {
		animation-direction: reverse;
		display: flex;
		height: auto;
		margin-top: $header-height;
		transition: visibility 0.7s ease;
		visibility: visible;
		width: 100%;
	}
}

/*
 * Sidebar panel (mobile only). This is specific to the admin sections of the application.
 */

.is-sidebar-open .private-page-content__sidebar {
	@include mobile {
		left: 0;
	}
}

/*
 * Content editor panels. This is specific to the admin sections of the application.
 */

.private-page-content__main {
	display: flex;
	margin-left: $small-space;
	width: 65%;

	@include mobile {
		display: flex;
		height: auto;
		margin-left: 0;
		margin-top: 0;
		width: 100%;
	}
}

/*
 * The sidebar panel containing scheduled events for which parents and/or wrestlers can apply. This is specific to the public sections of the application.
 */

.public-page-content__tournaments {
	display: flex;
	margin-right: $small-space;
	width: 35%;

	@include mobile {
		animation-direction: reverse;
		display: flex;
		height: auto;
		margin-top: $header-height;
		transition: visibility 0.7s ease;
		visibility: visible;
		width: 100%;
	}
}

/*
 * The content panel containing the event application form for wrestlers and/or parents. This is specific to the public sections of the application.
 * For the mobile version of the application, this panel is initially hidden.
 */

.public-page-content__application {
	display: flex;
	margin-left: $small-space;
	width: 65%;

	@include mobile {
		display: flex;
		height: auto;
		margin-left: 0;
		margin-top: 0;
		width: 100%;
	}
}

/*
 * The content panel containing the event application form for wrestlers and/or parents when visible (mobile-only). This is specific to the public
 * sections of the application.
 */

.is-application-open .public-page-content__application {
	@include mobile {
		left: 0;
	}
}

.is-application-open .public-page-content__tournaments {
	@include mobile {
		visibility: hidden;
	}
}

/*
 * The content panels for the Team Rules, FAQ, Past Events, and Contact sections of the application. These are specific to the public sections of the
 * application.
 */

.public-page-content__team-rules,
.public-page-content__faq,
.public-page-content__past-events,
.public-page-content__contact,
.public-page-content__not-found {
	display: flex;
	width: 100%;

	@include mobile {
		margin-top: $header-height;
	}
}
