.swal-modal {
  height: $modal-height !important;
  width: $modal-width !important;
}

.swal-modal-text {
  font-size: $modal-text-font-size !important;
  padding: $default-space !important;
}

.swal2-title {
  font-size: $modal-title-font-size !important;
}
