.swal-modal {
  height: 30rem !important;
  width: 45rem !important;
}

.swal-modal-text {
  font-size: 1.6rem !important;
  padding: $space !important;
}

.swal2-title {
  font-size: 2.4rem !important;
}
