.team-rules__rules {
  background: $light-gray;
  border: 2px solid $brand-secondary;
  border-top: 5rem solid $brand-secondary;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  width: 100%;

  margin: $space;
  margin-top: $space * 2;
  margin-bottom: $space * 1.5;
  padding: $space;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-rules__rules-content {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: $space;
  padding-bottom: 0;

  -webkit-overflow-scrolling: touch;    // TODO - are there any other mobile-specific styles?
}

.team-rules__rules-title {
  color: $light-gray;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  line-height: 5rem;
  margin-top: -($space * 2 + 5rem - 1.6rem);
}

.team-rules__rules-list {
  font-family: "Montserrat", sans-serif;
  font-size: $base-font-size;
  line-height: 1.9rem;
  padding: $space;
  padding-left: $large-space;
}

.team-rules__rules-list li {
  padding: $space / 2;
  padding-left: $space;
}

.team-rules__rules-list ul {
  margin-left: $space * 3;
  text-indent: -1rem;
}

.team-rules__rules-list li ul li:first-child {
  padding-top: $space / 1.5;
}

.team-rules__rules-list li ul li:last-child {
  padding-bottom: 0;
  padding-top: $space / 4;
}

.team-rules__rules-list hr {
  border: 1px solid $brand-secondary;
  margin-top: $space * 1.5;
  margin-bottom: $space * 1.5;
  margin-left: -$space;
}
